.container
  max-width 960px

@font-face
  font-family chart-font
  src url(icomoon.ttf)
  
.chart-class
  font-family chart-font
  color #C9CDCE
  font-size 3.3em
  margin-top 12px
  .icon-chart01:before
    content "\e900"
  .icon-chart02:before
    content "\e901"
  .icon-chart03:before
    content "\e902"
  .icon-chart04:before
    content "\e903"
  .icon-chart05:before
    content "\e904"
  .icon-chart06:before
    content "\e905"
  .icon-chart07:before
    content "\e906"
  .icon-chart08:before
    content "\e907"
  .icon-chart09:before
    content "\e908"
  .icon-chart10:before
    content "\e909"
    
.style-none
  border-style none
  background rgba(0, 0, 0, 0)
  text-align center

.container-chart
  flex-wrap wrap
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width 900px
  margin auto


.estilo-menu
  background-color #f9f9f9
  border-top 2px solid #ababad
  height 103px
  width 100%
  padding-bottom 30px
  margin-bottom 49px
  
  
.btn-primary2
  color #fff
  background-color #7B91A8
  border-color #7B91A8
  font-family Lato
  font-size 12px
  height 45px
  width 200px
  letter-spacing 2px
  margin 0 12px 0 12px
  
.btn-primary2:hover
  color #fff
  background-color #4F708E
  border-color #4F708E
  
button:hover
  color #145366
  
button:focus
  background-color: transparent;
  border: 0px solid;
  
.navbar-default .navbar-nav > li > a
  color rgba(255, 255, 255, 0.8)
  
.img-responsive
  margin-left auto
  margin-right auto
  
h1
  text-align center
  font-size 19px
  color #303030
  margin-bottom 28px
  
.descripcion
  font-size 16px
  color #818181
  line-height 1.8
  font-family Lato
  margin-top 35px
  font-weight 400
  margin-bottom 43px
  // padding-top 120px

.charts
  padding-top 25px
  padding-bottom 25px
  
.linea-des
  border-top 2px solid #818181
  max-width 60px
  
.des
  font-family Lato
  color #818181
  font-size 18px
  font-weight 500


footer  
  background-color #303030
  padding-top 40px
  padding-bottom 20px

.estilo-footer
  color #d6d6d6
  font-family Lato
  font-weight 400
  
.linea-footer
  margin-top -21px
  margin-bottom 25px

.redes
  padding-right 10px
  padding-top 9px
  padding-bottom 9px

.fixedheight
  padding-top 10px

.form-control
  line-height 58px
  height 58px
  padding 15px 6px 15px 12px
  background-color #ededed
  color #3F4C58
  border-radius 0px

.input-group-addon
  background-color #11698b
  color #fff
  border-radius 0px
  border: 0px solid #ccc;
  
.linea
  border-bottom: 2px solid #acacac
  padding-top 25px
  
.copy
  color #d6d6d6
  font-family Lato
  font-weight 300
  text-align right
  padding-top 20px
  font-size 12px
  
.decoration
  text-decoration none
  color #d6d6d6
  
.mar-git
  margin-bottom 9px

.visible-xs-mt
  display none
.hidden-xs-mt
  display block
  
.nombre
  background-color: #f9f9f9;
  height: 50px;
  color #7B91A8
  font-family Lato
  font-size 14px
  padding-top 14px
  padding-left 20px
  
// Mirror

.cm-s-base16-light
  &.CodeMirror
    background #fff
    color #202020
    height 100%
  div
    &.CodeMirror-selected
      background #e0e0e0
  .CodeMirror-gutters
    background #fff
    border-right 0px
  .CodeMirror-guttermarker
    color #ac4142
  .CodeMirror-guttermarker-subtle
    color #b0b0b0
  .CodeMirror-linenumber
    color #b0b0b0
  .CodeMirror-cursor
    border-left 1px solid #505050
  span
    &.cm-comment
      color #8f5536
    &.cm-atom
      color #aa759f
    &.cm-number
      color #aa759f
    &.cm-keyword
      color #ac4142
    &.cm-string
      color #f4bf75
    &.cm-variable
      color #90a959
    &.cm-variable-2
      color #6a9fb5
    &.cm-def
      color #d28445
    &.cm-bracket
      color #202020
    &.cm-tag
      color #ac4142
    &.cm-link
      color #aa759f
    &.cm-error
      background #ac4142
      color #505050
  .CodeMirror-activeline-background
    background #DDDCDC
  .CodeMirror-matchingbracket
    text-decoration underline
    color white !important

.cm-s-base16-light .CodeMirror-line::selection, .cm-s-base16-light .CodeMirror-line > span::selection, .cm-s-base16-light .CodeMirror-line > span > span::selection
  background #e0e0e0

.cm-s-base16-light .CodeMirror-line::-moz-selection, .cm-s-base16-light .CodeMirror-line > span::-moz-selection, .cm-s-base16-light .CodeMirror-line > span > span::-moz-selection
  background #e0e0e0

.cm-s-base16-light span.cm-property, .cm-s-base16-light span.cm-attribute
  color #90a959


  
@media (max-width: 720px)
  
  .visible-xs-mt
    display block !important
  .hidden-xs-mt
    display none !important




  


