.container-fluid.height-header.back-header
.row.d-flex.align-items-center.justify-content-center
  .col-md-4
    img.displayed.logo(src='http://dboxjs.org/assets/images/logo-gr.png')
p.tex-center
  | Dbox es una biblioteca que utiliza el poder de D3.js para realizar gráficas dinámicas predefinidas.
.btn-center
  a(href='https://github.com/dboxjs/dbox', title='Github', target='_blank')
    button.btn.btn-primary(type='submit') GITHUB
