footer
  .container
    .row
      .col-sm-4.info
        p CONTÁCTANOS
        p.line-footer _________
        img.redes-sociales(src="http://dboxjs.org/assets/images/email.png", alt="Email")
        span info@dboxjs.com
        br
        img.redes-sociales(src="http://dboxjs.org/assets/images/twitter.png", alt="Twitter")
        span TWITTER
      .col-sm-4.info
        p PARTNERS
        p.line-footer _________
        a(href="http://datacivica.org", title="DataCívica")
          img(src="http://dboxjs.org/assets/images/logo-dc.png", alt="Data Civica")
        br
        a(href="http://data4.mx", title="D4")
          img.imgd4(src="http://dboxjs.org/assets/images/logo-d4.png", alt="D4")
      .col-sm-4.info
        p DESARROLLO
        p.line-footer _________
        img.github(src="http://dboxjs.org/assets/images/logo-git.png", alt="Github")
        br
        a.link(href="https://github.com/dboxjs", title="Github") https://github.com/dboxjs
    .container
      .line
        p.pie-pagina © 2017 DBOXJS Todos los Derechos Reservados
