footer
    background-color #303030
    padding-top 40px
    padding-bottom 20px
    display block

.info
    color #d6d6d6
    font-family Lato
    font-weight 400

.line-footer
    margin-top -21px
    margin-bottom 25px 

.redes-sociales
    padding-right 10px
    padding-top 9px
    padding-bottom 9px

.github
    margin-bottom 9px

.link
    text-decoration: none
    color #d6d6d6

.imgd4
    padding-top 10px

.line
    border-bottom 2px solid #acacac
    padding-top 25px

.pie-pagina
    color #d6d6d6
    font-family Lato
    font-weight 300
    text-align right
    padding-top 20px
    font-size 12px
   
