.mr-t-80
  margin-top 80px

pre
  border 0px
  border-left solid 2px #ccc
  padding-left 18px
  margin 2em 0 2em -20px
  max-width 960px
  overflow-x auto
  background-color white

  border-radius 0px



.html .value,
.html .hljs-string
.javascript .hljs-string,
.javascript .hljs-regexp
  color #756bb1


.html .tag,
.html .hljs-name,
.html .hljs-keyword,
.css .tag,
.javascript .hljs-keyword
  color #3182bd


aside,
.comment
  color #636363


.html .doctype,
.html .hljs-number,
.javascript .hljs-number
  color #31a354


.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special
  color #e6550d

