.container.hide
  .row.estilo-menu
      ul.wrap.nav.container-chart
        li
          button.chart-class.icon-chart01.style-none &#xe900;
        li
          button.chart-class.icon-chart02.style-none &#xe901;
        li
          button.chart-class.icon-chart03.style-none &#xe902;
        li
          button.chart-class.icon-chart04.style-none &#xe903;
        li
          button.chart-class.icon-chart05.style-none &#xe904;
        li
          button.chart-class.icon-chart06.style-none &#xe905;
        li
          button.chart-class.icon-chart07.style-none &#xe906;
        li
          button.chart-class.icon-chart08.style-none &#xe907;
        li
          button.chart-class.icon-chart09.style-none &#xe908;
        li
          button.chart-class.icon-chart10.style-none &#xe909;

.container.mr-t-80
  p.des BAR CHART
  //- img.img-responsive.hidden-xs-mt.banner(src="assets/images/chart.png")
  //- img.img-responsive.visible-xs-mt.hidden-sm.banner(src="assets/images/chart2.png")
  div
     include bar.code.pug
  br
  br


  div.btn-center.hide
    button.btn.btn-primary2(type='submit') EDITAR EN JSFIDDLE
  br
  p.des DESCRIPCIÓN
  p.linea-des

  p.descripcion
  div.nombre
    p #BarChart
  div#code
    pre
      code.html

  hr
  //div.nombre
    p #Data
  //div#data
    pre
      code.undefined

