footer
  background-color #303030
  padding-top 40px
  padding-bottom 20px

.estilo-footer
  color #d6d6d6
  font-family Lato
  font-weight 400

.linea-footer
  margin-top -21px
  margin-bottom 25px

.redes
  padding-right 10px
  padding-top 9px
  padding-bottom 9px

.fixedheight
  padding-top 10px

.form-control
  line-height 58px
  height 58px
  padding 15px 6px 15px 12px
  background-color #ededed
  color #3F4C58
  border-radius 0px

.input-group-addon
  background-color #11698b
  color #fff
  border-radius 0px
  border: 0px solid #ccc;

.linea
  border-bottom: 2px solid #acacac
  padding-top 25px

.copy
  color #d6d6d6
  font-family Lato
  font-weight 300
  text-align right
  padding-top 20px
  font-size 12px
