footer
  .container(style="padding: 0;")
    .col-sm-4.estilo-footer
      p CONTÁCTANOS
      p.linea-footer _________
      img.redes(src='assets/images/email.png', alt='Email')
      span(style="padding-top: 10px;") info@dboxjs.com
      br
      img.redes(src='assets/images/twitter.png', alt='Twitter')
      span(style="padding-top: 10px;") TWITTER


    .col-sm-4.estilo-footer
      p PARTNERS
      p.linea-footer _________
      a(href='http://datacivica.org', title='DataCívica')
        img(src='assets/images/logo-dc.png', alt='Data Civica')
      br
      a(href='http://data4.mx', title='D4')
        img.fixedheight(src='assets/images/logo-d4.png', alt='D4')


    .col-sm-4.estilo-footer
      p DESARROLLO
      p.linea-footer _________
      img.mar-git(src='assets/images/logo-git.png', alt='Github')
      br
      a.decoration(href='https://github.com/dboxjs', title='Github') https://github.com/dboxjs



    .hide.col-sm-6.estilo-footer
      p NEWSLETTER
      p.linea-footer _________
      .input-group
        input.form-control(for='inputEmail3', placeholder="Email", aria-describedby='basic-addon2')
        span#basic-addon2.input-group-addon NEWSLETTER

  .container
    .linea

    p.copy © 2017 DBOXJS Todos los Derechos Reservados
