.navbar
  margin-bottom -51px
.navbar-default
  background: rgba(0, 0, 0, 0)
  border-color rgba(0, 0, 0, 0)
  
.stick
  margin-top 0 !important
  position fixed
  top 0
  z-index 10000
  width 100%
  background #363636
  border-bottom solid #C1C5C6 2px
  min-height 80px
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1)


.idioma_color
  color #959D9F !important
  padding-top 28px !important
