nav.navbar.navbar-static-top.navbar-default.header(ng-class="{'stick': vm.applyStick}")
  .container
    .navbar-header
      a.navbar-brand(ui-sref="home")
        //- span.glyphicon.glyphicon-home
        img( ng-src='assets/images/{{vm.logo_color}}.png', alt='DBOX')
        //- |  Dbox.js
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.hide.nav.navbar-nav.navbar-right
        li
          a(ng-click="vm.data.language = 'english'" href="" ng-class="{'idioma_color': vm.applyStick}") ESPAÑOL
        li
          a(ng-click="vm.data.language = 'spanish'" href="" ng-class="{'idioma_color': vm.applyStick}") ENGLISH
