nav.navbar.navbar-static-top.navbar-default
  .container
    .container-fluid
      .navbar-header
        a.navbar-brand(ui-sref="home")
          span.glyphicon.glyphicon-home
          |  Dbox.js
      #bs-example-navbar-collapse-6.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(ui-sref-active='active')
            a(ui-sref='home') Home
          li
            a(href="#") About
          li
            a(href="#") Contact
        ul.nav.navbar-nav.navbar-right
          li 
            a(href="#") Otro
