.showcase.container-fluid
  .container
    .row.charts
      .col-xs-6.col-md-4
        div
          div
            img(src='http://dboxjs.org/assets/images/bars.png')
          .chart-title
            | Bars
      .col-xs-6.col-md-4
        div
          div
            img(src='http://dboxjs.org/assets/images/heatmap.png')
          .chart-title
            | Heatmap
      .col-xs-6.col-md-4
        div
          div
            img(src='http://dboxjs.org/assets/images/radar.png')
          .chart-title
            | Radar
      .col-xs-6.col-md-4
        div
          div
            img(src='http://dboxjs.org/assets/images/scatter.png')
          .chart-title
            | Scatter
      .col-xs-6.col-md-4
        div
          div
            img(src='http://dboxjs.org/assets/images/timeline.png')
          .chart-title
            | Timeline
      .col-xs-6.col-md-4
        div
          div
            img(src='http://dboxjs.org/assets/images/svg_treemap.png')
          .chart-title
            | SVG Treemap
