div#chart
script.
  var config = {
    'bindTo': '#chart',
    'size':{
      'width':960,
      'height':500,
      'margin':{top: 20, right: 20, bottom: 30, left: 40},
    },
    'xAxis':{
      'scale' : 'linear'
    },
    'yAxis': {
      'scale' : 'linear'
    }
  };

  var chart = dbox.chart(config)
      .data({'tsv': '/assets/data/data.tsv'})
    .layer(dbox.scatter)
      .color('species')
      .x('sepalWidth')
      .y('sepalLength')
      .tip(function(d){
        console.log(d);
        return d.color + '\nx: ' + d.x + ', y:' + d.y;
      })
    .end()
      .draw();
