.container
  h1 Dbox.js
  p(ng-if="main.data.language === 'english'") Dbox is an awesome library in development
  p(ng-if="main.data.language === 'spanish'") Dbox es una biblioteca en desarrollo ultra super genial