.back-header
  background-image url('../assets/images/background.png')
  background-size cover

.height-header
  height 460px

.back
  position absolute
  left 0px
  top 0px
  z-index -1

.displayed
  display block
  margin-left auto
  margin-right auto
  margin-top 80px

.tex-center
  text-align center
  font-size 20px
  color #fff
  line-height 1.8
  font-family Lato
  margin-left auto
  margin-right auto
  max-width 940px
  margin-top 40px
  font-weight 300
  margin-bottom 40px

.btn-center
  text-align center


.btn-primary
  color #fff
  // background-color #11698b
  // border-color #11698b
  border-color #fff
  background-color rgba(255, 255, 255, 0)
  font-family Lato
  font-size 12px
  height 45px
  width 200px
  letter-spacing 2px
  margin 0 12px 0 12px

.btn-primary:hover
  color #fff
  background-color #00BDF4
  border-color #00BDF4

.navbar-default .navbar-nav > li > a
  color rgba(255, 255, 255, 0.8)

.img-responsive
  margin-left auto
  margin-right auto
  cursor pointer

.chart-img
  margin-left auto
  margin-right auto
  cursor pointer
  width 100%
  height 200px
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;

h1
  text-align center
  font-size 19px
  color #303030
  margin-bottom 28px

.caracteristicas
  text-align center
  font-size 16px
  color #818181
  line-height 1.8
  font-family Lato
  margin-left auto
  margin-right auto
  margin-top 35px
  font-weight 300
  margin-bottom 43px
  // padding-top 120px

.parallax
  /* The image used */
  background-image url("../assets/images/simples_bg.jpg")

  /* Set a specific height */
  min-height 190px

  /* Create the parallax scrolling effect */
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover

.tex-parallax
  text-align center
  font-size 27px
  color #303030
  margin-bottom 10px
  margin-top 50px
  font-family Lato

.tex-parallax2
  text-align center
  font-size 21px
  color #8e8c8f
  margin-bottom 28px
  margin-top 10px
  font-weight 400
  font-family Lato

.charts
  padding-top 10px
  padding-bottom 25px
  *
    margin-top 10px

.backg
  background-color #F8F8F8

.decoration
  text-decoration none
  color #d6d6d6

.mar-git
  margin-bottom 9px

.chart-title
  background-color #00557D
  padding 10px
  color white
  text-align center
  text-transform uppercase


.visible-xs-mt
  display none
.hidden-xs-mt
  display block

@media (max-width: 720px)

  .visible-xs-mt
    display block !important
  .hidden-xs-mt
    display none !important
