// body {
//   margin: 0;
//   background: #000; 
// }
// video { 
//     // position: fixed;
//     top: 50%;
//     left: 50%;
//     min-width: 100%;
//     height: 520px
//     width: auto;
//     height: auto;
//     z-index: -100;
//     // transform: translateX(-50%) translateY(-100%);
//  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
//   background-size: cover
//   transition: 1s opacity
// }
// .stopfade { 
//    opacity: .5;
// }

// h1 {
//   font-size: 3rem;
//   text-transform: uppercase;
//   margin-top: 0;
//   letter-spacing: .3rem;
// }

// a {
//   display: inline-block;
//   color: #fff;
//   text-decoration: none;
//   background:rgba(0,0,0,0.5);
//   padding: .5rem;
//   transition: .6s background; 
// }
// a:hover{
//   background:rgba(0,0,0,0.9);
// }
// @media screen and (max-width: 500px) { 
//   div{width:70%;} 
// }
// @media screen and (max-device-width: 800px) {
//   html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
//   #bgvid { display: none; }
// }


.back-header
  background-image url('../assets/images/background.png')
  background-size cover
  
.height-header
  height 460px
    
.back
  position absolute
  left 0px
  top 0px
  z-index -1

.displayed
  display block
  margin-left auto
  margin-right auto
  margin-top 80px
  
.tex-center
  text-align center
  font-size 20px
  color #fff
  line-height 1.8
  font-family Lato
  margin-left auto
  margin-right auto
  max-width 940px
  margin-top 40px
  font-weight 300
  margin-bottom 40px
  
.btn-center
  text-align center
  
  
.btn-primary
  color #fff
  // background-color #11698b
  // border-color #11698b
  border-color #fff
  background-color rgba(255, 255, 255, 0)
  font-family Lato
  font-size 12px
  height 45px
  width 200px
  letter-spacing 2px
  margin 0 12px 0 12px
  
.btn-primary:hover
  color #fff
  background-color #00BDF4
  border-color #00BDF4
  
.navbar-default .navbar-nav > li > a
  color rgba(255, 255, 255, 0.8)
  
.img-responsive
  margin-left auto
  margin-right auto
  margin-bottom 28px
  cursor pointer
  
h1
  text-align center
  font-size 19px
  color #303030
  margin-bottom 28px
  
.caracteristicas
  text-align center
  font-size 16px
  color #818181
  line-height 1.8
  font-family Lato
  margin-left auto
  margin-right auto
  margin-top 35px
  font-weight 300
  margin-bottom 43px
  // padding-top 120px
  
.parallax
  /* The image used */
  background-image url("../assets/images/simples_bg.jpg")

  /* Set a specific height */
  min-height 190px

  /* Create the parallax scrolling effect */
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover
  
.tex-parallax
  text-align center
  font-size 27px
  color #303030
  margin-bottom 10px
  margin-top 50px
  
.tex-parallax2
  text-align center
  font-size 21px
  color #8e8c8f
  margin-bottom 28px
  margin-top 10px
  font-weight 400

.charts
  padding-top 40px
  padding-bottom 25px

.backg
  background-color #F8F8F8

footer  
  background-color #303030
  padding-top 40px
  padding-bottom 20px

.estilo-footer
  color #d6d6d6
  font-family Lato
  font-weight 400
  
.linea-footer
  margin-top -21px
  margin-bottom 25px

.redes
  padding-right 10px
  padding-top 9px
  padding-bottom 9px

.fixedheight
  padding-top 10px

.form-control
  line-height 58px
  height 58px
  padding 15px 6px 15px 12px
  background-color #ededed
  color #3F4C58
  border-radius 0px

.input-group-addon
  background-color #11698b
  color #fff
  border-radius 0px
  border: 0px solid #ccc;
  
.linea
  border-bottom: 2px solid #acacac
  padding-top 25px
  
.copy
  color #d6d6d6
  font-family Lato
  font-weight 300
  text-align right
  padding-top 20px
  font-size 12px
  
.decoration
  text-decoration none
  color #d6d6d6
  
.mar-git
  margin-bottom 9px

.visible-xs-mt
  display none
.hidden-xs-mt
  display block
  
@media (max-width: 720px)
  
  .visible-xs-mt
    display block !important
  .hidden-xs-mt
    display none !important


@media screen and (max-width: 500px)
  .back-header
    background-image url('../assets/images/background02a.jpg')
  


