.container-fluid.height-header.back-header

  ul(style="list-style: none;")
    li
      img.displayed(src='assets/images/logo-gr.png', alt='DBOX')

  p.tex-center Dbox es una biblioteca que utiliza el poder de D3.js para realizar gráficas dinámicas predefinidas. 
  div.btn-center
    button.hide.btn.btn-primary(type='submit') DESCARGA
    button.hide.btn.btn-primary(type='submit') DOCUMENTACIÓN
    a(href='https://github.com/dboxjs/dbox', title='Github', target="_blank")
      button.btn.btn-primary(type='submit') GITHUB

.container
  .row.caracteristicas
    .col-xs-6.col-md-4.text-left
      div
        img.img-responsive(src='assets/images/ico-02.png', alt='Alda Facio')
        br
        h1 VARIEDAD DE GRÁFICAS
        p Hasta el momento con Dbox puedes generar scatters, histogramas, gráficas de líneas de tiempo, gráficos de áreas, treemaps, y puedes visualizar datos geo-referenciados en un mapa de México, con divisiones políticas por estados o municipios.
    .col-xs-6.col-md-4.text-left
      div
        img.img-responsive(src='assets/images/ico-03.png', alt='Alda Facio')
        br
        h1 PERSONALIZABLES
        p Aunque las gráficas son prediseñadas, es posible personalizar el estilo y la funcionalidad de sus visualizaciones a través de hojas de estilo y manejar eventos sin perder el control sobre sus datos. Dbox hará que sea más fácil.
    .col-xs-6.col-md-3.hide
      div
        img.img-responsive(src='assets/images/ico-04.png', alt='Alda Facio')
        br
        h1 UTILIZABLE CON CARTO.JS
        p Dbox permite generar gráficos desde arreglos existentes, archivos csv, tsv, json e integrarlos  con CartoDB ¡permite obtener directamente los datos con una sola consulta!
    .col-xs-6.col-md-4.text-left
      div
        img.img-responsive(src='assets/images/ico-01.png', alt='Alda Facio')
        br
        h1 OPEN SOURCE
        p El código abierto es el software distribuido y desarrollado libremente. Se focaliza más en los beneficios prácticos (acceso al código fuente) que en cuestiones éticas o de libertad que tanto se destacan en el software libre.

.parallax
  .container
    p.tex-parallax DBOX ES UNA BIBLIOTECA OPEN SOURCE HECHA CON AMOR
    p.tex-parallax2 Dependencias: d3.js, d3-tip, d3-queue
.backg
  .container
    .row.charts
      .col-xs-6.col-md-4
        div
          div.chart-img(style="background-image: url('assets/images/bars.png')", alt='Bar chart' ui-sref="dbox.bars" ui-sref-opts="{reload: true}")
          div.chart-title Bars

      .col-xs-6.col-md-4
        div
          div.chart-img(style="background-image: url('assets/images/heatmap.png')", alt='Heatmap' ui-sref="dbox.heatmap" ui-sref-opts="{reload: true}")
          div.chart-title Heatmap

      .col-xs-6.col-md-4
        div
          div.chart-img(style="background-image: url('assets/images/radar.png')", alt='Radar' ui-sref="dbox.radar" ui-sref-opts="{reload: true}")
          div.chart-title Radar

      .col-xs-6.col-md-4
        div
          div.chart-img(style="background-image: url('assets/images/scatter.png')", alt='Alda Facio' ui-sref="dbox.scatter" ui-sref-opts="{reload: true}")
          div.chart-title Scatter
      
      .col-xs-6.col-md-4
        div
          div.chart-img(style="background-image: url('assets/images/timeline.png')", alt='Timeline' ui-sref="dbox.timeline" ui-sref-opts="{reload: true}")
          div.chart-title Timeline
          
      .col-xs-6.col-md-4
        div
          div.chart-img(style="background-image: url('assets/images/svg_treemap.png')", alt='SVG Treemap' ui-sref="dbox.treemap" ui-sref-opts="{reload: true}")
          div.chart-title SVG Treemap

footer-directive
