.container-fluid 
    background-color: #EDEDED;


.title 
    font-size: 27px;
    color: #303030;
    margin-bottom: 10px;
    margin-top: 50px;


.subtitle 
    font-size: 21px;
    color: #8e8c8f;
    margin-bottom: 28px;
    margin-top: 10px;

