.container-fluid
  .row.d-flex.justify-content-center
    .col-md-8.col-sm-4
      p.title.text-center DBOX ES UNA BIBLIOTECA OPEN SOURCE HECHA CON AMOR
      p.subtitle.text-center Dependencias: d3.js, d3-tip, d3-queue
